<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
	<a href="/auth/keycloak">Login with Keycloak</a>
<% } else { %>
	<h2>Hello, <%= user.displayName %>.</h2>
	<pre><code><%= JSON.stringify(user, null, 2) %></code></pre>
<% } %>